.chatArea{
	text-align: right;
	height: 80%;
	width: 30%;
	border: 2px solid black;
	border-radius: 3px;
	overflow: auto;
	position: absolute;
	bottom: 0;
}

li{
	list-style-type: none; 
}

.userInput{
	font-size: 50px;
}